---
apiVersion: builtin
kind: PatchTransformer
metadata:
  name: {{ SERVICE_NAME }}-resource-limits-tuning
patch: |-
  # Remove the CPU or memory patch if you only need to change one.
  - op: replace
    path: /spec/template/spec/containers/0/resources/limits/cpu
    value: {{ CPU_LIMIT }}
  - op: replace
    path: /spec/template/spec/containers/0/resources/limits/memory
    value: {{ MEMORY_LIMIT }}
target:
  group: apps
  kind: Deployment
  name: {{ SERVICE_NAME }}
  version: v1
